DATABASE_URL=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
SESSION_SECRET=
PORT=3100
GITHUB_CALLBACK_URL=http://localhost:3100/auth/github/callback
N8N_NEWS_WEBHOOK_URL=
N8N_GENERATE_DIARY_WEBHOOK_URL=
DEEPSEEK_API_KEY=
